
.main {
  h1 {
  }
}

.template {
 .account {
   margin-right: 15px;
   color: white;
 }
}

.addAnounce {
  margin-top: 10px;
}

.register {
  margin-top: 10px;
}


.searchInput {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f7f7f7;

    div.input {
        width: 95%;
        margin:0 2%;
    }
    
}


.searchResult {

  .result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f7f7f7;
  }
  
  .pagingBox {
    text-align: center;
    margin: 15px 0;
  }

}


.loadingBox {
  opacity: .85;
  background-color: white;
  filter: alpha(opacity=85);
  position: absolute;
  width:95%;
  height: 99%;
  z-index: 2;
  div.logo {
    background-image: url('../src/assets/ajax-loader.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    width: 95%;
    height: 95%;
    z-index: 2;
  }
}

.login {
   margin-top: 20px !important;
  .column {
    max-width: 450px;
  }
}